body {
    text-align: center;
    background-color: rgb(173, 173, 173);
  }
  
  div {
    margin-top: 15px;
  }
  
  .image-section {
    display: flex;
    justify-content: center;
  }
  
  .section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: rgb(173, 173, 173);
  }